body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 45px;
} */

/* .totals h1 {
  margin-bottom: 40px;
} */

.entry-list {
  width: 66.6%;
  margin:0 auto;
  /* box-shadow: 10px 10px 50px rgb(238, 237, 237); */
  border-radius: 3px;
}

.hide {
  display:none;
}